* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.container {
  width: 900px;
  margin: auto;
}
header {
  background-image: url("../images/ramsogor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4111);
  background-blend-mode: multiply;
  padding: 15px 0;
}
img{
  max-width: 100%;
  display: block;
}
/* logo-section */
.flex {
  display: flex;
}
.logo{
  width: 20%;
}
.logo h2 {
  font-size: 22px;
  font-weight: 600px;
  color: white;
}
.logo h2 span{
  font-size: 16px;
  font-weight: 400px;
  display: block;
}
/* nav-bar */
nav{
  width: 80%;
  height: 72px;
}
nav ul {
  display: flex;
  justify-content: end;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500px;
  color: white;
  padding: 8px;
}
/* banner-section */
.hero {
  color: white;
  text-align: center;
  padding: 150px 0;
}
.hero h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}
.hero span {
  width: 100px;
  height: 5px;
  background: #FB2259;
  display: block;
  margin: auto;
  margin-top: 10px;

}
.hero h1 {
  font-size: 60px;
  font-weight: 600px;
  margin: 35px;
}
.hero a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #FB2259;
  padding: 12px;

}
/* main-section */
.famous-places {
  padding-top: 60px;
  font-size: 30px;
  color: black;
  text-align: center;
}
.famous-places span {
  width: 100px;
    height: 5px;
    background: #FB2259;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cal-1-2 {
  padding: 20px;
  
}
.col-1-2 img {
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #8080807d;
}
.col-1-2 h2 {
  font-size: 28px;
  margin: 20px 0 0 0;
  color: black;
  text-align: center;
}
.col-1-2 p {
  font-size: 18px;
  color: #373737;
  text-align: center;
}
.col-1-2 a{
  text-decoration: none;
  color: #fb2259;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 15px;
  display: block;
  text-align: center;
}
/* all places in my area */
.background-image{
  background-image: url("../images/Aftabgonj\ bajar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #1767d6b8;
  background-blend-mode: multiply;
  padding: 150px 0;
  margin-top: 100px;
  color: white;
  background-attachment: fixed;

}
.Area-flex {
  display: flex;
  justify-content: end;
}
.text {
  width: 50%;
}
.text h2 {
  font-size: 60px;
}
.text span {
  width: 100px;
  height: 5px;
  background: #FB2259;
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
}
.text p{
  font-size: 18px;
  margin: 10px 0 25px 0;
}
.text a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}